<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "/Users/zhangsunjiankun/Documents/workspace/github/mybatis-generator/src/main/resources/dtd/mybatis-generator-config.dtd">
<generatorConfiguration>

    <context id="mysql" defaultModelType="hierarchical" targetRuntime="MyBatis3" >
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>
        <!-- 注释配置 -->
        <commentGenerator type="site.zhangsun.generator.config.MyCommentConfig">
            <property name="suppressDate" value="false"/>
            <property name="suppressAllComments" value="false"/>
            <property name="addRemarkComments" value="true"/>
            <property name="dateFormat" value="yyyy-MM-dd hh:mm:ss"/>
            <property name="name" value="yyyy-MM-dd hh:mm:ss"/>
        </commentGenerator>
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/mybatis_generator?characterEncoding=UTF8"
                        userId="root" password="123456">
        </jdbcConnection>
        <javaTypeResolver type="org.mybatis.generator.internal.types.JavaTypeResolverDefaultImpl">
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!--entity-->
        <javaModelGenerator targetPackage="site.zhangsun.generator.pojo.entity" targetProject="/Users/zhangsunjiankun/Documents/workspace/github/mybatis-generator/src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!--xml-->
        <sqlMapGenerator targetPackage="site.zhangsun.generator.mapper" targetProject="/Users/zhangsunjiankun/Documents/workspace/github/mybatis-generator/src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!--mapper-->
        <javaClientGenerator targetPackage="site.zhangsun.generator.mapper" type="XMLMAPPER" targetProject="/Users/zhangsunjiankun/Documents/workspace/github/mybatis-generator/src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="generator" domainObjectName="GeneratorEntity"
               enableCountByExample="true" enableUpdateByExample="true" enableDeleteByExample="true"
               enableSelectByExample="true" selectByExampleQueryId="true" >
            <!--            <property name="useActualColumnNames" value="false"/>-->
            <!--            <generatedKey column="Id" sqlStatement="Mysql" identity="true"/>-->
        </table>
    </context>

</generatorConfiguration>